apdev-fromfile/src/main/mule/apdev-fromfile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:orders-experience-api="http://www.mulesoft.org/schema/mule/orders-experience-api" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/orders-experience-api http://www.mulesoft.org/schema/mule/orders-experience-api/current/mule-orders-experience-api.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="039287a0-f897-4dde-9ebc-511448c93b98" >
		<file:connection workingDir="C:\Users\orowa\Desktop\csv" />
	</file:config>
	<orders-experience-api:config name="Orders_Experience_API_Config" doc:name="Orders Experience API Config" doc:id="8ba8c899-38f9-4d69-b0ad-2dac95d3e1e2" property_host="${http.exp_config.host}" property_port="${http.exp_config.port}" property_protocol="${http.exp_config.protocol}" property_client-id="${http.exp_config.client_id}" property_client-secret="${http.exp_config.client_secret}" property_basePath="${http.exp_config.basepath}" property_responseTimeout="${http.exp_config.timeout}" property_access-token-url="${http.exp_config.token_url}"/>
	<flow name="apdev-fromfileFlow" doc:id="7d06b7d6-102e-4093-a0f8-ace87aa77cd7" >
		<file:listener doc:name="On New or Updated File" doc:id="bf05f0b7-94ec-4beb-80c1-44842f8c8501" config-ref="File_Config" directory="C:\Users\orowa\Desktop\csv\input" moveToDirectory="C:\Users\orowa\Desktop\csv\processed">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<orders-experience-api:create-csv doc:name="Create csv" doc:id="aead4030-86a3-4840-914b-9b00059aae8c" config-ref="Orders_Experience_API_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="19930d82-85f4-450c-b64d-f62c18846bd8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="58b00b7d-be6c-4a12-a9f1-788871a7d092" message="#[payload]"/>
	</flow>
</mule>
