apdev-expereince/src/main/mule/apdev-expereince.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:orders-process-api="http://www.mulesoft.org/schema/mule/orders-process-api"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/orders-process-api http://www.mulesoft.org/schema/mule/orders-process-api/current/mule-orders-process-api.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<orders-process-api:config name="Orders_Process_API_Config" doc:name="Orders Process API Config" doc:id="dce71d47-3118-4846-9448-e3643032236a" property_host="${http.process_config.host}" property_port="${http.process_config.port}" property_protocol="${http.process_config.protocol}" property_client-id="${http.process_config.client_id}" property_client-secret="${http.process_config.client_secret}" property_basePath="${http.process_config.basepath}" property_responseTimeout="${http.process_config.timeout}" property_access-token-url="${http.process_config.token_url}"/>
	<flow name="postCSVOrders" doc:id="92bbf6d9-5a11-444e-8f20-b7b583040545" >
		<ee:transform doc:name="Transform Message" doc:id="577d545b-f1ba-4aca-87ac-4fff5821afce">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="659d9249-5a4a-4589-af1f-ec7b0dba4ecb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (object, index) -> {
	order_info: {
		customer_name: object.date,
		order_id: object.customer_name as Number,
		date: object.order_id 
	},
	order_items: object.order_items as String splitBy(',') map{
		product_name: (($ splitBy(';'))[0] splitBy(':'))[1],
		product_id: (($ splitBy(';'))[1] splitBy(':'))[1] as Number,
		order_id: (($ splitBy(';'))[2] splitBy(':'))[1] as Number,
		Category: (($ splitBy(';'))[3] splitBy(':'))[1],
		Price: (($ splitBy(';'))[4] splitBy(':'))[1] as Number
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="CSV_Batch_Job" doc:id="28e16c79-0541-42d0-9903-8765267fe75a" blockSize="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="12e71d9b-2381-4d3d-a1ed-8178d9b4f05f" >
					<ee:transform doc:name="Transform Message" doc:id="c3c35582-a420-4b1f-9799-8f59a3d870b0">
			<ee:message>
			</ee:message>
			<ee:variables>
							<ee:set-variable variableName="order_status"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
					<orders-process-api:create-order doc:name="Create order" doc:id="efd786de-f9f2-499b-8fbc-84d89b1386b2" config-ref="Orders_Process_API_Config" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="b7a5b0f8-2d3e-4cb4-8c9e-4f0e6f4f2ea2" acceptPolicy="ONLY_FAILURES">
					<email:send doc:name="Fail_Send" doc:id="0b07a087-2456-40c3-a854-ad01bca2b993" fromAddress="testdpdemail@gamil.com" subject="Record Failed " config-ref="Email_SMTP1">
					<email:to-addresses>
						<email:to-address value="orowader@umich.edu" />
					</email:to-addresses>
					<email:body>
						<email:content><![CDATA[#[vars.current_order]]]></email:content>
					</email:body>
				</email:send>
					<logger level="INFO" doc:name="Logger" doc:id="f67e805b-d44d-44bf-acf3-3c7d5f79539d"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="f39cd2ae-ce64-4b45-84d8-7bf8b6fbc70a" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="82b34a49-d5b2-4ef5-926d-dfd128f148cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
	"message": "Records Processed."
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0eb56da4-9927-47fa-8cfb-91de097b3936" message="#[payload]"/>
	</flow>
</mule>
